@import "../../assets/scss/colors";

// Bar Variables
$bar-size: 2px;
$bar-radius: 60px;
$bar-bg: rgba(0,0,0,0.075);

// Bar
.progress-bar {
	border-radius: $bar-radius;
	overflow: hidden;
 	width: 100%;
	span {
		display: block;
	}
}

.bar {
  background: $bar-bg;
}

.progress {
  //animation: loader 8s ease forwards;
  background: $blue;
  color: #fff;
  padding: $bar-size;
  width: 0;
}

.progress-bar {
  max-width: 80%;
}

.progress-percent{
	position: relative;
    top: -0.7rem;
    float: right;
    font-size: 0.7rem;
    color: #aaa;
}