@import "../../assets/scss/colors";

.course-container{
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .course{
        display: flex;
        flex-direction: column;
        .course-image{
            width: 10rem;
            height: 10rem;
            border-radius: 0.7rem;
            cursor: pointer;
        }
        .course-title{
            padding-top: 1rem;
            cursor: pointer;
        }
        .course-title:hover{
            border-bottom:1px solid $primary;
        }
        .course-author{
            padding-top: 1rem;
            color:$secondary;
        }
        app-progressbar{
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}