<ul>
    <li class="icon-container">
        <a routerLink="/userprofile"><i class="material-icons">keyboard_backspace</i></a>
    </li>
    <li class="icon-container">
        <a class="nav-title">MESSAGES</a>
    </li>
    <li class="right icon-container">
        <a routerLink="/messages"><span class="notify-badge"></span><i class="material-icons">notifications_none</i></a>
    </li>
</ul>
<div class="message-container">
    <div class="tab-slider--nav">
        <ul class="tab-slider--tabs">
            <li class="tab-slider--trigger" [class.active]="viewMode == 'teacherMessages'" rel="teacherMessages"
                (click)="viewMode ='teacherMessages'">
                Teachers</li>
            <li class="tab-slider--trigger" [class.active]="viewMode == 'userMessages'" rel="userMessages"
                (click)="viewMode ='userMessages'">
                Users</li>
        </ul>
    </div>
    <div class="tab-slider--container" [ngSwitch]="viewMode">
        <div id="teacherMessages" class="tab-slider--body" *ngSwitchCase="'teacherMessages'">
            <app-messageitem [messages]=teacherMessages></app-messageitem>
        </div>
        <div id="userMessages" class="tab-slider--body" *ngSwitchCase="'userMessages'">
            <app-messageitem [messages]=userMessages></app-messageitem>
        </div>
        <button class="new-messagebtn">New</button>
    </div>
</div>